.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.select-pages-amount{
    /* margin-right: 20px; */
    width: 10%;
}

.pagination-div {
  margin: auto 10px;
  border: 1px solid green;
  width: 5%;
  text-align: center;
}

.pagination-container input {
  width: 7%;
}

.pagination-container div:hover {
  background-color: gray;
  opacity: 0.5;
  color: yellow;
}
.pagination-container input:hover {
  background-color: gray;
  opacity: 0.5;
  color: yellow;
}

/* input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
} */
